[submodule "lib/cmdline"]
	path = lib/cmdline
	url = https://github.com/ulmer-a/cmdline
[submodule "lib/glew"]
	path = lib/glew
	url = https://github.com/Perlmint/glew-cmake
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
